.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 0.5px solid var(--bg-color);
  font-size: 24px;
  cursor: pointer;

  &:hover {
    background-color: rgba(29, 29, 29, 0.979);
  }
}

.btn_fun {
  color: #ff8800;
}
